---
import { getCollection } from "astro:content"

const posts = await getCollection('blog')
---

<h1>My posts</h1>
<ul>
  {posts.map(post => (
  <a href={`/posts/${post.id}`}><li>{post.data.title}</li></a>
  ))}
</ul>
