---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-brand-500 text-xl font-bold">dakribe</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
    impedit, veniam velit amet mollitia qui ipsa dolorem. Incidunt repellendus
    harum exercitationem rerum quibusdam, possimus neque, quos veniam eligendi
    numquam velit?
  </p>
</Layout>
